
		 body{
			 background-color: #aaa;
		 }
		 .port{
			 border: 1px solid white;
             letter-spacing: 0.2em;
			 font-family: Verdana, Geneva, Tahoma, sans-serif;
			 background-color: black;
			 font-weight: bold;
			
		 }
		 
			
		
		 .con{
            letter-spacing: 0.1em;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			letter-spacing: 0.2em;
		
		 }
		 .con:hover{
			 border: 1px outset white;;
		
			 color: black;
		 }
		 /*INcreasin Padding of the navbar*/
		 .pad{
			 padding: 10px 0px 10px 0px;
			 background-color: black;
		 }
		 .header{
			 font-family: 'Times New Roman', Times, serif;
			 font-size: 2em;
			color:white;
			
		 }
		 .container{
			 padding: 10px;
		 }
		 /* jumbotron start*/
		 .head{
			 background-color: white;
			 color: black;
		 }
		 p.para{
			 line-height: 1.5em;
			 padding: 40px;	
			 border: 10px outset #555;
			 font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
			 font-style: oblique;	  
		 }

		 /*jumbotron style end*/
        .panel-title{
			border: 10px outset #555;
		}
		
		.form-control{
			border-bottom: 2px solid black;
			height: 100px;
			border-top: 2px solid black;;
		}
		.cpara{
			padding-top:40px;
		}
        container-fluid {
            width: 40%
        }
	